{% extends "layout.html" %}

{% block title %}
    Archived
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th>Project</th>
                <th>Deadline</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
                <tr class="table-light">
                    <td>{{ row["project_name"] }}</td>
                    <td>{{ row["project_deadline"] }}</td>
                    <td>{{ row["Completed"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}